img{
    width: 200px;
    border-radius: 100% 30% ;
}
*{
    font-size: 20px;
    font-family: arial;
}

.container{
    position: relative;
        padding-left: 42%;
    padding-top: 13%;
    width: 200px;
    box-shadow: 10px;
   
   
    
}   
button{
    position: absolute;
    
 
    margin: 0px;
    padding-left: 150px;
    color: white;
    background-color: rgb(47, 192, 71);
    
  padding: 14px 20px;
  margin: 8px 0;
  
  cursor: pointer;
  width: 27%;
  border-radius: 10px 0px 30px;
  box-shadow: 3px 8px;
    
}
button:hover{
    background-color: white;
    color: black;
    border: solid;
    
}
